:root {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 450px;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 6px;
}

.header {
  padding-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.tasks-list {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 0 0 15px;
  list-style: none;
}

.tasks-list__item {
  display: flex;
  justify-content:space-between;
  padding: 5px;
  border-bottom: 1px solid #333;
}

.tasks-list__item:nth-child(odd) {
  background-color: #dff0e3;
}

.tasks-list__item:nth-child(even) {
  background-color: #f5f7f5;
}

.task-list__item:last-child {
  border: none;
}

.form {
  padding: 0 15px;
  margin-bottom: 15px;
}

.form p {
  margin: 0 0 5px;
}

.footer {
  padding: 15px;
  text-align: center;
  background-color: #343634;
  color: #fff;
}